

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400&family=Montserrat:wght@100;200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding:0;
  box-sizing: border-box;
font-family: 'Montserrat', sans-serif !important;
font-family: 'Montserrat Alternates', sans-serif !important;
font-size: 15px;
}
body{
 font-family: 'Montserrat', sans-serif;
}

button{
  height:45px !important;
  
}
input{
  box-shadow: none !important;
}
h1{
  font-size: 32px;
}h2{
  font-size: 28px;
}
h3{
  font-size:18px;
}
input:hover{
  border: 1px solid gray !important;

}
